div {
  margin: auto;
  background-color: lightgray;
  border: 2px outset gray;
  padding: 10px;
  width: 50%;
  text-align: center;
}

a.pseudolink {
  cursor: pointer;
  text-decoration: underline;
  color: darkcyan;
}

div#advancedSearchElements {
  width: 90%;
  text-align: left;
}
