<div id="outerDiv">
  <select name="type" id="type" (change)="updateType($event)" *ngIf="!searchTypeFromUrl">
    <option value="">Everything</option>
    <option value="RACE">Races</option>
    <option value="CLASS">Classes</option>
    <option value="SPELL">Spells</option>
    <option value="ITEM">Magic Items</option>
    <option value="MONSTER">Monsters</option>
  </select>
  <input type="text" size=50 placeholder="Search Title/Content/Author" #searchText><button
    (click)="doSearch()">Search</button>
  <br>
  <a class="pseudolink" (click)="toggleAdvanced()">Show Advanced {{ showAdvancedSearch ? "▲" : "▼" }}</a>
  <div id="advancedSearchElements" *ngIf="showAdvancedSearch">
    <item-search-fields></item-search-fields>
  </div>
</div>
