<div id="outerDiv">
  <select name="type" id="type" (change)="updateType($event)" *ngIf="!searchTypeFromUrl">
    <option value="">Everything</option>
    <option value="race">Races</option>
    <option value="class">Classes</option>
    <option value="spell">Spells</option>
    <option value="item">Magic Items</option>
    <option value="monster">Monsters</option>
  </select>
  <input type="text" size=50 placeholder="Search Title/Content/Author" #searchText><button
    (click)="doSearch()">Search</button>
  <br>
  <a class="pseudolink" (click)="toggleAdvanced()">Show Advanced {{ showAdvancedSearch ? "▲" : "▼" }}</a>
  <div id="advancedSearchElements" *ngIf="showAdvancedSearch">
    <item-search-fields></item-search-fields>
  </div>
</div>
