<nav>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="index.html/?type=race">Races</a></li>
    <li><a href="index.html/?type=class">Classes</a></li>
    <li><a href="index.html/?type=spell">Spells</a></li>
    <li><a href="index.html/?type=item">Magic Items</a></li>
    <li><a href="index.html/?type=monster">Monsters</a></li>

    <li class="right"><a href="https://github.com/Somdudewillson/CinderHomebrewIndex/issues">Report Issue</a></li>
    <li class="right"><a disabled>Settings (Placeholder)</a></li>
  </ul>
</nav>
