Item Type
<select name="itemType" #itemType>
    <option *ngFor="let itemType of itemTypeKeys; index as i" [value]="i">{{formatEnumName(itemType)}}</option>
</select>
Item Rarity
<select name="rarity" #rarity>
    <option *ngFor="let itemRarity of itemRarityKeys; index as i" [value]="i">{{formatEnumName(itemRarity)}}</option>
</select>
Requires Attunement <enhanced-boolean-input #requiresAttunement></enhanced-boolean-input>
Has Charges <enhanced-boolean-input #hasCharges></enhanced-boolean-input>
